<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            underworld
        </title>
    </head>
    <body style="background-color: aquamarine;">
        <h1 style="font-size: 60px;background-color: powderblue;">
            <div align = "center">
                Welcome to the Under World
            </div>
            
        </h1>
        <p style = "font-size: 20px" align = "center">
            LOGIN<br>
            <a
            href="http://127.0.0.1:8000/login">
            Click to log in</a>
        </p>
        <p style = "font-size: 20px" align = "center">
            REGISTER<br>
            <a 
            href = "http://127.0.0.1:8000/register">
        Click to register</a>
        </p>
        <p style = "font-size: 20px" align = "center">
            LOGIN AS ADMIN<br>
            <a 
            href = "http://127.0.0.1:8000/admin">
        Click to login</a>
        </p>
        <p style = "font-size: 20px" align = "center">
            PROFILE<br>
            <a href = "http://127.0.0.1:8000/accounts/profile">
                Click to view profile
            </a>
        </p>
        </p>


    </body>
</html>